:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.artists-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.artist-card {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  width: 300px;
  color: white;
  text-align: left;
}


.artist {
  align-items: left;
  justify-items: left;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.Layout {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Layout main {
  flex: 1;
}

main {
  padding: 10px;
}

footer {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.mpopwork{
  border: 1px solid white;
  border-radius: 10px;
  gap: 10px;
  margin: 20px;
  padding: 10px;
}



.home img{
  width: 20%;
}